extend layout

block content
 h3.display-4(class='text-center') Contact Us
 p(class='text-center') This is contact page
 .container
  form(method='post', action='contact/send') 
   .form-group
   lable To
   input.form-control(type='email', name='tomail', placeholder='Enter recipent name')
   .form-group
   lable Cc
   input.form-control(type='email', name='cc', placeholder='Enter recipents')
   .form-group
   lable Bcc
   input.form-control(type='email', name='bcc', placeholder='Enter recipents')
   .form-group
   lable Subject
   input.form-control(type='text', name='tsubject', placeholder='Enter you email')
   .form-group
   lable Message
   input.form-control(type='text', name='message', placeholder='Enter your message')
   br
   button.btn.btn-primary(type='submit') Submit 