doctype html
html(lang='en')
  head
    // Bootstrap core CSS
    link(href='stylesheets/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS', crossorigin='anonymous')

    // Custom styles for this template
    link(href='jumbotron.css', rel='stylesheet')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='/') Exambazaar
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/about') About us
          li.nav-item.dropdown
            a.nav-link(href='contact') Contact Us
          li.nav-item.dropdown
            a.nav-link(href='report') Report
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
    main(role='main')
      // Main jumbotron for a primary marketing message or call to action
      block content
      hr
      // /container
    footer.container
      p(class='text-center') © Company 2017-2018
    